# env & secrets
.env
.env.local
.env*.local
.env.production
.env.development

# Firebase / GCP service accounts
**/serviceAccount*.json
**/*firebase-adminsdk*.json
*.pem

# Next / tooling
.next
node_modules
.vercel
*.tsbuildinfo
